:root {
  --black: #141619;
  --gray: #2C2E3A;
  --dark-blue: #050A44;
  --blue: #0A21C0;
  --white: #B3B4BD;
  --aqua: #00ffff;
  --mono: ui-monospace;
  --sans: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;

}

body {
  padding: 0;
  margin: 0;
}

/* .left-section start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--gray);
  color: #fff;
  user-select: none;
  width: 100%;
}

.left-section span {
  margin-right: 20px;
  cursor: pointer;
  font-family: var(--mono);
  color: var(--aqua);
  font-weight: 500;
  font-size: 1.2rem;
  font-style: normal;
}

/* left-section end */

/* right-section start */
.right-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.right-section input {
  padding: 8px;
  border: none;
  border-radius: 20px 15px 20px 15px;
  width: 25rem;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--sans);
}

.right-section input::placeholder {
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 500;
}

/* .right-section end */

/* user button start */
.user-circle {
  width: 40px;
  height: 40px;
  background-image: url(./assets/img/system-solid-8-account.svg);
  background-repeat: no-repeat;
  background-color: var(--white);
  background-size: 52px;
  background-position: -6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;
}

/* user button end */

/* .search bar start */
.searchTerm img {
  width: 35px;
  height: 35px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

/* searck bar end */

/* dark mode start */
.dark-mode {
  margin-left: 15px;
}

.ui-switch {
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

/* dark mode end */
/* music player start */
.musicPlayer {
  width: 100%;
  height: 100px;
  background-color: var(--blue);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
  /* margin-top: auto; */
  user-select: none;
  position: fixed;
  bottom: 0;
}

.musicPlayer .music-img-contaner img {
  height: 100px;
  width: 90px;
  background-color: var(--white);
}

.musicPlayer .music-title {
  width: 200px;
  height: 100px;
  background-color: var(--dark-blue);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}

.musicPlayer .music-button {
  width: 200px;
  height: 100px;
  background-color: var(--aqua);
  display: contents;
  align-items: center;
}

.musicPlayer .ProgressBar {
  width: 600px;
  background: var(--dark-blue);
  cursor: pointer;
}

.musicPlayer .VolumeBar {
  width: 200px;
  cursor: pointer;
  margin-right: 20px;

}

img {
  height: 30px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center
}

.song-image {
  transition: opacity 0.3s;
  border-radius: 0.375rem;
  max-width: 200px;
  width: 200px;
  height: 200px;
  background-color: #E5E7EB;
  aspect-ratio: 1;
  max-height: 200px;
  resize: none;
  object-fit: cover;
}

.song-image:hover {
  opacity: 0.75;
}

/* Title */
.song-title {
  font-size: 0.875rem;
  /* Adjust font size as needed */
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

/* Artist */
.song-artist {
  font-size: 0.75rem;
  /* Adjust font size as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: -2px;
  max-width: 100px;
  margin: auto;
}

.artist-card {
  transition: background-color 0.3s;
  cursor: pointer;
  background-color: #7F9CF5;
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.artist-card:hover {
  background-color: #93C5FD;
}

/* Name */
.artist-name {
  font-size: 0.875rem;
  /* Adjust font size as needed */
  color: #FFFFFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* background-color: #ffffff; */
}

.song-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.song-info {
  margin-top: 10px;
}

.song-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.song-artist {
  font-size: 14px;
  color: #888888;
}

/* styles.css */
.container {
  padding: 20px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
}

.song-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 67px;
  gap: 30px;
}

.song-card {
  width: 200px;
  cursor: pointer;
  text-align: center;
}

.song-card img {
  width: 100%;
  border-radius: 50%;
  height: 60%;
}

.song-info h3 {
  font-size: 18px;
  margin: 10px 0;
  max-width: 5.625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.song-info p {
  font-size: 14px;
  color: var(--white);
  max-width: 5.625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.music-player {
  text-align: center;
  padding: 40px;
}

.song-image {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.controls input[type="range"] {
  width: 300px;
}

.contlorls {
  margin: 10px;
}

.contlorls button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
  display: inline-flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 30px;
}

.download-section {
  margin-top: 10px;
}

.download-section button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}

.progress-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-small;
  font-weight: 700;
  padding: 0;
}

.offline-song-card {
  width: 31%;
  display: flex;
  border-radius: 50%;
  height: 0%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}

.offline-song-card img {
  width: 50%;
  border-radius: 50%;
  height: 50%;
}

.offline-control {
  width: 300px;
}

.left-section a {
  font-size: 18px;
  display: inline-flex;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  text-decoration: none;
  gap: 42px;
  padding: 3px 5px;
  margin: 10px;
  color: var(--white);
}

.suggestions {
  margin: 10px;
}
.offline-song-card {
  position: relative;
}

.menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-options {
  position: absolute;
  top: 30px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.button:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}
.three-dot{
  background: transparent;
  border: none;
}
.next-song-card{
  display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: black;
    border-radius: 20px;
    width: 350px;
    margin: 15px;
}
.next-song-card img{
  height: 57px;
    margin-left: 5px;
    border-radius: 15px;
}
.next-song-info{
  margin-top: 10px;
}
.next-song-info h3{
  font-size: 18px;
    margin: 10px 0;
    max-width: 10.625rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.next-song-info p{
  font-size: 14px;
    color: var(--white);
    max-width: 10.625rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.next-section{
  width: 427px;
    height: 210px;
  overflow-x: hidden;
}
.next-section ul{
  height: 300px;
    width: 391px;
}
.offline-song-list{
  display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.offline-section{
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #000000;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.footer-button .footer-text {
  color: var(--gray);
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.footer-button svg path {
  transition: 400ms;
}

.footer-button:hover {
  background-color: transparent;
}

.footer-button:hover .text {
  color: #181717;
}

.footer-button:hover svg path {
  fill: white;
}
@media (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
  }

  .right-section input {
    width: 17rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .song-list {
    width: 750px;
  }

  .contlorls {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: -webkit-fill-available;
    flex-direction: row;
    margin-top: 60px;
  }

  .contlorls button {
    display: inline-flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 30px;
  }
}

.music-player {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  .navbar {
    display: flex;
    flex-direction: row;
    /* width: 100%t; */
    flex-wrap: nowrap;
  }

  .right-section input {
    width: 12rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .song-list {
    width: 630px;
  }

  .contlorls {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: -webkit-fill-available;
    flex-direction: row;
    margin-top: 60px;
  }

  .contlorls button {
    display: inline-flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 30px;
  }

  .music-player {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 70px;
  }

  .left-section a {
    font-size: 17px;
    font-weight: bold;
    display: inline-flex;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    color: var(--white);
    font-style: var(--sans);
  }

  .user-circle {
    margin: 0;
  }

  .controls {
    gap: 0.6rem;
  }

  .offline-song-card {
    width: 100%;
    display: flex;
    border-radius: 50%;
    height: 0%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}


@media (max-width: 630px) {
  .navbar {
    display: flex;
    flex-direction: row;
    /* width: 100%t; */
    flex-wrap: nowrap;
  }

  .right-section input {
    width: 8rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .song-list {
    width: 450px;
  }

  .contlorls {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: -webkit-fill-available;
    flex-direction: row;
    margin-top: 60px;
  }

  .contlorls button {
    display: inline-flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 30px;
  }

  .music-player {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 70px;
  }

  .left-section a {
    font-size: 13px;
    font-weight: bold;
    display: inline-flex;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    color: var(--white);
    font-style: var(--sans);
  }

  .user-circle {
    margin: 0;
  }

  .controls {
    gap: 0.6rem;
  }

  .offline-song-card {
    width: 100%;
    display: flex;
    border-radius: 50%;
    height: 0%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}


@media (max-width : 450px) {
  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .searchTerm img {
    margin-right: 10px;
  }

  .right-section input {
    width: 6rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .song-list {
    width: 350px;
  }

  .contlorls {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: -webkit-fill-available;
    flex-direction: row;
    margin-top: 60px;
  }

  .contlorls button {
    display: inline-flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    margin: 3px;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 30px;
    padding: 15px;
  }

  .music-player {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 70px;
  }

  .left-section a {
    font-size: 13px;
    font-weight: bold;
    display: inline-flex;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    color: var(--white);
    font-style: var(--sans);
  }

  .user-circle {
    margin: 0;
  }

  .controls {
    gap: 0.6rem;
  }

  .controls input[type="range"] {
    width: 150px;
  }

  .offline-song-card {
    width: 100%;
    display: flex;
    border-radius: 50%;
    height: 0%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 60px;
  }
  .song-info p {
    font-size: 14px;
    color: var(--white);
    max-width: 5.625rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 40px;
}
.song-info h3 {
  font-size: 18px;
  margin: 20px 0;
  max-width: 5.625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
  .next-section{
    height: 100px;
    width: 280px;
  }
}
@media (max-width : 350px) {
  .left-section a {
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    color: var(--white);
    font-style: var(--sans);
}
.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.next-song-card {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: black;
  border-radius: 20px;
  width: 260px;
  margin: 5px 0px;
}
.next-section ul {
  height: 300px;
  width: 50px;
}
}
@media (max-width: 340px){
  .song-list {
    width: 290px;
}
}